.navbar{
	background-color: #fff2cc!important;
}
#sidebar-wrapper {
z-index: 1000;
position: fixed;
height: 100%;
background-color: #fff2cc;
}
.sidebar-nav {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.logo{
	height: 49px;
	background-color:red;
}
.content{
    margin-top: 50px;
}
.nom-pizza{
    color :#5C7558;
    font-size: 23px;
    font-weight: bold;
}
.ingredients{

}
.prix{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}
.prix-grande{
    border-left:1px solid black;

}
.prix-petite{
    border-right:1px solid black;
}
.pizza-header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black!important;
}
.ph-left{
    border-right: 1px solid black;
}
.ph-right{
    border-left: 1px solid black;
}
