body{
    background-color: #FFE154;
}
.navbar{
	background-color:  #FFE154!important;
    margin-left: auto;
    margin-right: auto;
    height:110px;
    width: 80%;
    border: none;
    padding-top:20px;
}
.logo{
	height: 49px;
    padding: 0px!important;
}
.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 129px;
    background-color: #CFAD0E;
    /*border:1px solid black;*/
}
.nom-pizza{
    color :#254220;
    font-size: 25px;
    font-weight: bold;
}
.ingredients{

}
.prix{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}
.prix-grande{
    border-left:1px solid black;
    border-top:none!important; 

}
.prix-petite{
    border-right:1px solid black;
    border-top:none!important; 
}
.pizza-header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black!important;
}
.ph-left{
    border-right: 1px solid black;
    width: 30px!important;
}
.ph-right{
    border-left: 1px solid black;
}
.title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    color: #B50000;
    text-decoration: underline; 
}
.ligne{
    margin-top: 13px;
}
.nav-icon{
    float: left;
}
.nav-txt{
    margin-left: 32px;
}
.bandeau{
    position: relative;
    top: -70px;
}
li{
    cursor: pointer;
}